<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sorry I was a B*tch</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Hey, sorry I was a b*tch</h1>
      <p>Hey there,</p>
      <p>
        I'm really sorry for my behavior. I know I was a bit of a b*tch, and I
        hope you can forgive me.
      </p>
      <button onclick="showSurprise()">Click for a Surprise</button>
    </div>
    <script>
      function showSurprise() {
        document.getElementById("surprise").style.display = "block";
      }
    </script>
  </body>
</html>
