<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sorry I was a B*tch</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>I'm sorry I was such a b*tch...</h1>
      <p>Hey there!</p>
      <p>
        I'm really sorry for my behaviour earlier. I know I was a bit of a
        b*tch, and I hope you can forgive me. It will maybe (probably) happen
        again, but sorry still.
      </p>
      <br />
      <img
        src="{{ url_for('static', filename='sorry-cat.gif') }}"
        alt="Sorry cat"
        class="sorry-cat"
      />
      <br />
      <br />
      <button onclick="showSurprise()">CLICK HERE FOR A SURPRISE</button>
    </div>
    <div id="surprise" style="display: none">
      <p>🌸🌺🌼 You're sexy and the best and I appreciate you a lot! 🌼🌺🌸</p>
    </div>
    <script>
      function showSurprise() {
        document.getElementById("surprise").style.display = "block";
      }
    </script>
  </body>
</html>
